$def with (home,path,data,info,children)
<html>
<head>
    <title>node @ $path</title>
    <style type="text/css">
    .button {
        display: block;
        width: 115px;
        height: 25px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    .button-first {
        float: left;
    }
    .button-last {
        margin-left: 150px;
        position: absolute;
    }
    .buttons {
        display: block;
        height: 50px;
    }
    </style>
</head>
<body>
    <div class="buttons">
        <a class="button button-first" href="$home/..">Go up</a> <a class="button button-last" href="/">Root</a><br>
    </div>
    $code:
        paths = [' ']
        for node in path.split('/'):
            paths.append(paths[-1] + '/' + node)

    Path:
    $for pathpart in paths[1:]:
        / <a href="$pathpart.lstrip()">$pathpart.split('/')[-1]</a>
    <br>
    <form action="/$path" method="post">
        <hr>
        Data:<br>
        <textarea name="zdata" wrap="off" rows="15" cols="150">$data</textarea><br>
        <input name="save" type="submit" value="Save"> <input name="delete" type="submit" value="Delete"> <input type="reset">
    </form>
    <hr>Children:
    <ul>
    $for c in children:
        <li><a href="$home/$c">$c</a></li>
    </ul>
    <hr>
    Info:<br>
    <textarea wrap="off" rows="13" cols="150">$info</textarea>
</body>
</html>
